@media (min-width: 1536px){

.container {
    max-width: 1366px !important;
}
}

.hover\:text-gray-900:hover {
    --tw-text-opacity: 1;
    color: #a975fd;
}

h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 900 !important;
}

.f-weight900 {
    font-weight: 900 !important;
}
.height-auto{
	height: auto !important;
}

.bg-1{
	background: #1a0240;
}

.bg-2{
	background: #310080;
}

.text-white{
	color: white;
}
.text-light{
	color:#a975fd;
}